:root{
	--neutral-dark-1: #464646;
	--neutral-dark-2: #313131;
	--neutral-dark-3: #222;
	--neutral-light-1: #fcfcfc;
	--neutral-light-2: #E9E9E9;
	--neutral-light-3: #d4d4d4;
	--link-light: #0063E1;
	--link-dark: #5da2fc;
}

@media (prefers-color-scheme: dark) {
	:root{
		--neutral-1: var(--neutral-dark-1);
		--neutral-2: var(--neutral-dark-2);
		--neutral-3: var(--neutral-dark-3);
		--link: var(--link-dark);
	}
}

@media (prefers-color-scheme: light) {
	:root{
		--neutral-1: var(--neutral-light-1);
		--neutral-2: var(--neutral-light-2);
		--neutral-3: var(--neutral-light-3);
		--link: var(--link-light);
	}
}

:root{
	--toolbar-bgcolor: var(--neutral-1) !important;
	--lwt-brighttext-url-color: var(--link) !important;
	--urlbar-min-height: 28px;
	--short-notification-gradient: var(--link) !important;
	--toolbar-field-focus-background-color: var(--neutral-2)  !important;
	--arrowpanel-background: var(--neutral-1)  !important;
	--lwt-selected-tab-background-color: var(--neutral-3)  !important;
	--toolbar-field-background-color: var(--neutral-2) !important;
	--focus-outline-color: var(--link) !important;
}

#titlebar{
	background-color: var(--neutral-1);
	padding-top:2px;
}

#tabbrowser-tabs:not([movingtab]) > #tabbrowser-arrowscrollbox > .tabbrowser-tab > .tab-stack > .tab-background[multiselected="true"], #tabbrowser-tabs:not([movingtab]) > #tabbrowser-arrowscrollbox > .tabbrowser-tab > .tab-stack > .tab-background[selected="true"]{
	background-image: unset !important;
	background-color: var(--neutral-2) !important;
}

#tabbrowser-tabs:not([noshadowfortests]) .tab-background:is([selected], [multiselected]){
	box-shadow: none !important;
}

.PanelUI-subView toolbarseparator.proton-zap{
	border-image: none !important;
}

